<html>
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="alert alert-danger" role="alert">
            Problema ao tentar acessar a página solicitada. Por favor, verifique o endereço digitado.
        </div>
    </div>
</body>
</html>
