<html>
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="alert alert-danger" role="alert">
            Um erro interno aconteceu :( <br />
            Estamos correndo para corrigir o problema!
        </div>
    </div>
</body>
</html>
